HOST: http://private-6de4-lokidev.apiary.io/loki

--- LWS-REST (dev) ---

---
# This documentation is for the public API, pre-release (dev) version
See also [GA documentation](http://docs.lokiserver.apiary.io/) and [branch (pre-release) documentation](http://docs.lokiserverbranch.apiary.io).

**UNRELEASED** (development edition) Documentation for the Loki Provisioning LWS-REST API.

#General

At this time, the application/hal+json content type is supported in request and response bodies.

**Note: all references to <code>lokiserver.apiary.io</code> are for example purposes only. In a deployed Loki Server
these will be references to the LWS-REST API host.**

## Single vs Multi cluster BroadWorks behaviour
If LWS-REST is configured in single cluster mode and you try to access a resource that does not exist you will receive a 404 Not Found response with the body in the following format:
<pre>{
    "errorCode": "NOT_FOUND",
    "externalErrorCode": "4152",
    "externalErrorSummary": "[Error 4152] Group not found: Enterprise:Group",
    "externalErrorDetail": "[Error 4152] Group not found: Enterprise:Group"
}
</pre>

If LWS-REST is configured in multi cluster mode and you try to access a resource that does not exist you will recieve a 404 Not Found response with the body in the following format:
<pre>{
    "errorCode": "NOT_FOUND",
    "summary": "The requested resource does not exist",
    "detail": "Group [Enterprise:Group] not found in Broadworks."
}
</pre>

Clients of LWS-REST should support both response body formats.

## Different responses depending on BroadWorks version
LWS-REST returns different results depending on the BroadWorks version when sending a request which results in an invalid XML request to BroadWorks. 
See below for different error responses:

For BroadWorks version 17sp4 with bad patch (preventing return of 6004 BroadWorks response) result is:<br />
Response code: 502
<pre>{
    "errorCode": "CLIENT_ERROR",
    "summary": "ociClient",
    "detail": "Received empty response"
}
</pre>

However if a timeout is set for BroadWorks service (broadworks > requestTimeout from config.xml) to a value smaller than timeout value set in BroadWorks (usually 30 seconds) the result is:<br />
Response code: 504
<pre>{
    "errorCode": "ETIMEDOUT",
    "summary": "ociClient",
    "detail": "Received null response"
}
</pre>

For BroadWorks version > 17sp4 result is:<br />
Response code: 500
<pre>{
    "errorCode": "EXTERNAL_API_SERVER",
    "externalErrorCode": "6004",
    "externalErrorSummary": "[Error 6004] OCI XML Request validation error",
    "externalErrorDetail": "[BroadWorks detail message]"
}</pre>

Clients of LWS-REST should support all the response body formats.

## BroadWorks Service values in LWS-REST
LWS-REST does not support BroadWorks Service name labels.
If you are using a request that takes as input a BroadWorks Service name you need to provide the BroadWorks Service name value.
For example:
* Service label "BroadTouch Business Communicator Mobile - Video" corresponds to OCI service value "Client License 17".

This applies for ALL LWS-REST requests.<br/>
<b>Note</b>: Using BroadWorks Service labels instead of their actual values will result in un-expected behaviour.

## URI Templates
Refer to https://tools.ietf.org/html/rfc6570 for details on URI Templates. Not that LWS-REST
uses reserved characters (i.e. ":") in some URI Template variables, thus the request templates
use the "{+id}" format - see additional detail at https://tools.ietf.org/html/rfc6570#section-3.2.3.

## Collections
Unless otherwise noted, Collection resources support standard REST request methods:

<dl>
<dt>HEAD
<dd>Retrieve resource metadata without retrieving the representation.
 Common response codes:
<ul>
<li>204 No Content: Resource exists. No body (no representation) is returned.
<li>404 Not Found: Resource does not exist.
</ul>
<dt>GET
<dd>Retrieve a representation of a resource. There are two standard forms of GET:
<ul>
<li>GET on a specific resource {id} (given the resource's URI).
<li>GET on the Collection, with query parameters. You can query for exact matches
on any of the core parameters, as well as any extension parameters supported by the
network elements configured in the system. Note that if appropriate, the Collection
may include a search Controller (described in the individual sections below) to support complex searches.
</ul>
Common response codes:
<ul>
<li>200 OK: Resource exists; response body contains representation.
<li>204 No Content: Resource exists; there is no body (no representation) to be returned.
<li>404 Not Found: Resource does not exist.
</ul>
<dt>POST
<dd>Create a new resource in the Collection. Also used in special cases to invoke controller resources. Common response codes:
<ul>
<li>200 OK: Pre-validation completed successfully. The optional response body includes any pre-validation results.
<li>201 Created: Resource created. URI of the created Resource is returned in the Location headder and the "url" element in the response body.
<li>204 No Content: Pre-validation completed with no action. This response is sent when a POST is called with "mode=prevalidate-only) on a resource that does not have a pre-validation routine.
<li>400 Bad Request: Request is not valid (e.g. missing required paramterer, invalid values, etc).
<li>404 Not Found: A required resource was not found (e.g. BroadWorks Group does not exist when creating a VoIP User).
<li>409 Conflict: Pre-validation failed because a resource with an identical key (which may be a composite key combining several parameters) already exists. Response body will include a link to the URI of the existing resource.
<li>422 Unprocessable Entity: Pre-validation failed due to a failed semantic test. The response body includes details on the failure(s).
<li>Some POST response codes are only sentfor certain values of the "mode" URL parameter, as noted below:
<ul>
<li>prevalidate-only: 200, 204, 400, 409, 422
<li>prevalidate-and-create: 201, 400, 409, 422
<li>create-only: 201, 400
</ul>
</ul>
<dt>PUT
<dd>Update an existing Resource in the Collection. Any key fields (those which comprise the key which uniquely identifies a resource)
are immutable (may not be changed). See the documentation for each resource for the list of keys. Common response codes:
<ul>
<li>200 OK: Resource successfully updated.
<li>400 Bad Reqkuest: Request is not valid (e.g. invalid values, etc).
<li>403 Forbidden: Update is not allowed (e.g. attempt to update a read-only field).
<li>404 Not Found: resource does not exist
</ul>
<dt>DELETE
<dd>Delete a resource. Common response codes:
<ul>
<li>204 No Content: Resource successfully deleted
<li>404 Not Found: Resource does not exist
</ul>
<dt>OPTIONS
<dd>Fetch resource metadata, including the list of allowed methods. Common response codes:
<ul>
<li>[future] 200 OK: Resource exists. Accept header lists allowed request methods. Response body may provide additional information.
<li>204 No Content: Resource exists. Accept header lists allowed request methods.
<li>404 Not Found: Resource does not exist.
</dl>
---

--
Number Translations
##Collection

Supported network elements:

* Sonus PSX

Loki must have at least one Network Element configured with support for Number Translations (e.g. Sonus PSX).

Loki must be configured to select the appropriate Network Element for new Number Translations
(by default, the first configured Network Element with Number Translations support will be used).

See the Loki documentation appropriate to the configured Network Element for mappings to 3rd-party API fields and
references to 3rd-party documentation.

Keys:

* sourceDn

Extension Keys:

* attributes
* callProcessingElement1Id
* callProcessingElement2Id
* callProcessingElement3Id
* callProcessingElement4Id
* callProcessingElementType

[pending: per-parameter descriptions - pending an apiary.io upgrade]

[pending: per-parameter schema/validation information - pending an apiary.io upgrade]

Refer to the **Sonus Insight API Programmer Guide** for descriptions, data types, defaults, and allowed values for
request and response properties under <code>extensions.sonusPsx</code>. Note:

* If the Sonus documentation indicates a data type of integer, short, or long, the value will be numeric in the LWS-REST JSON responses.
* If the Sonus documentation indicates a data type of string, the value will be a string (or null) in the LWS-REST JSON responses.
--

Create a new Number Translation.
POST /number-translations
> Content-Type: application/json
{
    "sourceDn" : "+1-8665554321",
    "translatedDn" : "+1-5553043000",
    "extensions" : {
        "sonusPsx" : {
            "attributes" : 0,
            "callProcessingElement1Id" : "978",
            "callProcessingElement2Id" : null,
            "callProcessingElement3Id" : null,
            "callProcessingElement4Id" : null,
            "callProcessingElementType" : 5,
            "servicesProvisioned" : 0,
            "phoneType" : 1,
            "suspendedFlag" : 0,
            "directTranslationFlag" : 0,
            "translationLabelId" : null,
            "translatedCarrierId" : null,
            "translatedCalltype" : 0,
            "translatedNpi" : 0,
            "translatedNoa" : 13,
            "useTranslationProfile" : 0,
            "translationProfileId" : null
        }
    }
}
< 201
< Location: http://lokiserver.apiary.io/loki/number-translations/3-1-8665554321-0-978----5
< Transaction-Id: 1380080943120
+++++
< 409
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120
{
    "_links" : {
        "self" : {
            "href" : "http://lokiserver.apiary.io/loki/number-translations"
        }
    },
    "curies" : [
        {
            "name" : "ls",
            "href" : "http://lokiserver.apiary.io/loki/rels/{rel}",
            "templated" : true
        }
    ],
    "_embedded" : {
        "ls:number-translations" : {
            "_links" : {
                "self" : {
                    "href" : "http://lokiserver.apiary.io/loki/number-translations/3-1-8665554321-0-978----5"
                }
            },
            "id" : "3-1-8665554321-0-978----5",
            "sourceDn" : "+1-8665554321",
            "translatedDn" : "+1-5553043210",
            "extensions" : {
                "sonusPsx" : {
                    "attributes" : 0,
                    "callProcessingElement1Id" : "978",
                    "callProcessingElement2Id" : null,
                    "callProcessingElement3Id" : null,
                    "callProcessingElement4Id" : null,
                    "callProcessingElementType" : 5,
                    "servicesProvisioned" : 1,
                    "phoneType" : 0,
                    "suspendedFlag" : 0,
                    "directTranslationFlag" : 0,
                    "translationLabelId" : null,
                    "translatedCarrierId" : null,
                    "translatedCalltype" : 0,
                    "translatedNpi" : 0,
                    "translatedNoa" : 12,
                    "useTranslationProfile" : 0,
                    "translationProfileId" : null
                }
            }
        }
    }
}
+++++
< 500
< Transaction-Id: 1380080943120
< Content-Type: application/json
{
    "errorCode" : "**tbd",
    "summary" : "Internal Error",
    "detail" : "[detail here]"
}


Query number translations. Responses will include (at a minimum) they fields comprising the unique key for the resource.

[future: pagination of results via offset and max; field parameter to specify included/excluded fields]

[future: enhance to include all parameters, not just the key and the full uri? means larger response body,
but also means the client doesn't have to follow with a get /loki/number-translations/{+id} if they want the full resource
representation.]

##URI Query Parameters

<table border=1>
    <thead>
    <th>Parameter</th>
    <th>Required?</th>
    <th>Type</th>
    <th>Mode</th>
    </thead>
    <tbody>
        <tr>
            <td>sourceDn</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>core</td>
            <td>Equal To</td>
        </tr>
        <tr>
            <td>attributes</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>extension</td>
            <td>Equal To</td>
        </tr>
        <tr>
            <td>callProcessingElement1Id</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>extension</td>
            <td>Equal To</td>
        </tr>
        <tr>
            <td>callProcessingElement2Id</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>extension</td>
            <td>Equal To</td>
        </tr>
        <tr>
            <td>callProcessingElement3Id</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>extension</td>
            <td>Equal To</td>
        </tr>
        <tr>
            <td>callProcessingElement4Id</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>extension</td>
            <td>Equal To</td>
        </tr>
        <tr>
            <td>callProcessingElementType</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>extension</td>
            <td>Equal To</td>
        </tr>
    </tbody>
</table>
GET /number-translations{?sourceDn,attributes,callProcessingElement1Id,callProcessingElement2Id,callProcessingElement3Id,callProcessingElement4Id,callProcessingElementType}
< 200
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120
{
    "_links" : {
        "self" : {
            "href" : "http://lokiserver.apiary.io/loki/number-translations?sourceDn=%2B1-8665554321&attributes=0&callProcessingElement1Id=978&callProcessingElement2Id=&callProcessingElement3Id=&callProcessingElement4Id=&callProcessingElementType=5"
        }
    },
    "curies" : [
        {
            "name" : "ls",
            "href" : "http://lokiserver.apiary.io/loki/rels/{rel}",
            "templated" : true
        }
    ],
    "_embedded" : {
        "ls:number-translations" : [
            {
                "_links" : {
                    "self" : {
                        "href" : "http://lokiserver.apiary.io/loki/number-translations/3-1-8665554321-0-978----5"
                    }
                },
                "id" : "3-1-8665554321-0-978----5",
                "sourceDn" : "+1-8665554321",
                "translatedDn" : "+1-5553043000",
                "extensions" : {
                    "sonusPsx" : {
                        "attributes" : 0,
                        "callProcessingElement1Id" : "978",
                        "callProcessingElement2Id" : null,
                        "callProcessingElement3Id" : null,
                        "callProcessingElement4Id" : null,
                        "callProcessingElementType" : 5,
                        "servicesProvisioned" : 0,
                        "phoneType" : 1,
                        "suspendedFlag" : 0,
                        "directTranslationFlag" : 0,
                        "translationLabelId" : null,
                        "translatedCarrierId" : null,
                        "translatedCalltype" : 0,
                        "translatedNpi" : 0,
                        "translatedNoa" : 13,
                        "useTranslationProfile" : 0,
                        "translationProfileId" : null
                    }
                }
            }
        ]
    }
}
+++++
< 404
< Transaction-Id: 1380080943120
{
    "errorCode": "ERR_REC_NOT_FOUND",
    "summary": "Failed to 'Retrieve' entity.",
    "detail": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" [^] xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" [^] xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n [^] <soapenv:Body>\n <soapenv:Fault>\n <faultcode>soapenv:Server.generalException</faultcode>\n <faultstring></faultstring>\n <detail>\n <ns1:fault href=\"#id0\" xmlns:ns1=\"http://www.sonusnet.com/ems/emsapi/psx/r07_03_06/intf\"/>\n [^] <ns2:exceptionName xmlns:ns2=\"http://xml.apache.org/axis/\">com.sonus.ems.api.psx.r07_03_06.model.ProvApiException</ns2:exceptionName>\n [^] </detail>\n </soapenv:Fault>\n <multiRef id=\"id0\" soapenc:root=\"0\" soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" [^] xsi:type=\"ns3:ProvApiException\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" [^] xmlns:ns3=\"http://www.sonusnet.com/ems/emsapi/psx/r07_03_06/model\">\n [^] <errorCode xsi:type=\"xsd:string\">ERR_REC_NOT_FOUND</errorCode>\n <message xsi:type=\"xsd:string\">Failed to 'Retrieve' entity.</message>\n <rootCause xsi:type=\"xsd:string\">(ERR_REC_NOT_FOUND) [resource] not found for the given criteria. (rc=17)</rootCause>\n </multiRef>\n </soapenv:Body>\n</soapenv:Envelope>"
}
+++++
< 400
< Transaction-Id: 1380080943120
< Content-Type: application/json
{
    "errorCode" : "FORMAT_ERROR",
    "summary" : "Internal Error",
    "detail" : "Request validation failed: params.sourceDn does not match pattern^\\+[0-9]+-[0-9]+$: was processing value \"+1-\""
}


Update a number translation. All fields are optional.
PUT /number-translations/{+id}
> Content-Type: application/json
{
    "translatedDn" : "+1-5553043000",
    "extensions" : {
        "sonusPsx" : {
            "servicesProvisioned" : 0,
            "phoneType" : 1,
            "suspendedFlag" : 0,
            "directTranslationFlag" : 0,
            "translationLabelId" : null,
            "translatedCarrierId" : null,
            "translatedCalltype" : 0,
            "translatedNpi" : 0,
            "translatedNoa" : 13,
            "useTranslationProfile" : 0,
            "translationProfileId" : null
        }
    }
}
< 204
< Transaction-Id: 1380080943120
+++++
< 404
< Transaction-Id: 1380080943120


Delete a number translation.
DELETE /number-translations/{+id}
< 204
< Transaction-Id: 1380080943120
+++++
< 404
< Transaction-Id: 1380080943120


--
Subscribers
##Collection

Supported network elements:

* Sonus PSX

Keys:

* subscriberDn

Extension Keys:

* owningCarrierId

Refer to the **Sonus Insight API Programmer Guide** for descriptions, data types, defaults, and allowed values for
request and response properties under <code>extensions.sonusPsx</code>. Note:

* If the Sonus documentation indicates a data type of integer, short, or long, the value will be numeric in the LWS-REST JSON responses.
* If the Sonus documentation indicates a data type of string, the value will be a string (or null) in the LWS-REST JSON responses.
--


Create a new Subscriber.
POST /subscribers
> Content-Type: application/json
{
    "subscriberDn" : "+1-2005553001",
    "extensions" : {
        "sonusPsx" : {
            "owningCarrierId" : "16",
            "businessGroupId" : null,
            "interLataCarrierId" : "5000",
            "intraLataCarrierId" : "5000",
            "intlCarrierId" : "5000",
            "assignedCarrierId" : null,
            "presentationFlag" : 0,
            "prfdPacketServiceProfileId" : null,
            "optionType" : 0,
            "testSubscriber" : 0,
            "billingPlanId" : "EXAMPLE_PLAN",
            "localCarrierId" : "5000",
            "authcodeScriptId" : "EXAMPLE_SCRIPT",
            "elementAttributes" : 0,
            "classOfServiceId" : "EXAMPLE_COS",
            "pseudoCarrierId" : null,
            "infoDigitId" : null,
            "scpBusinessServiceGroup" : 0,
            "authcodeGroupId" : null,
            "pinDigits" : null,
            "svcList1" : 0,
            "svcList2" : 0,
            "exceptionProfileId" : "EXAMPLE_PROFILE",
            "isDestination" : 1,
            "defaultCpc" : null,
            "homeMobileNetwork" : 0,
            "origEntityRoutingProfileId" : "EXAMPLE_RTGPROFILE",
            "callingArea" : "555_EXAMPLE",
            "businessUnitId" : null,
            "deviceProfileId" : null,
            "memberStatus" : -1
        }
    }
}
< 201
< Location: http://lokiserver.apiary.io/loki/subscribers/1-2005553001-1-16
< Transaction-Id: 1380080943120
+++++
< 409
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120
{
    "_links" : {
        "self" : {
            "href" : "http://lokiserver.apiary.io/loki/subscribers"
        }
    },
    "curies" : [
        {
            "name" : "ls",
            "href" : "http://lokiserver.apiary.io/loki/rels/{rel}",
            "templated" : true
        }
    ],
    "_embedded" : {
        "ls:subscribers" : {
            "_links" : {
                "self" : {
                    "href" : "http://lokiserver.apiary.io/loki/subscribers/1-2005553001-1-16"
                }
            },
            "id" : "1-2005553001-1-16",
            "subscriberDn" : "+1-2005553001",
            "extensions" : {
                "sonusPsx" : {
                    "owningCarrierId" : "16",
                    "businessGroupId" : null,
                    "interLataCarrierId" : "0000",
                    "intraLataCarrierId" : "0000",
                    "intlCarrierId" : "0000",
                    "assignedCarrierId" : null,
                    "presentationFlag" : 0,
                    "prfdPacketServiceProfileId" : null,
                    "optionType" : 0,
                    "testSubscriber" : 0,
                    "billingPlanId" : "EXAMPLE_ANOTHER",
                    "localCarrierId" : "0000",
                    "authcodeScriptId" : "EXAMPLE_ANOTHER",
                    "elementAttributes" : 0,
                    "classOfServiceId" : "EXAMPLE_ANOTHER",
                    "pseudoCarrierId" : null,
                    "infoDigitId" : null,
                    "scpBusinessServiceGroup" : 0,
                    "authcodeGroupId" : null,
                    "pinDigits" : null,
                    "svcList1" : 0,
                    "svcList2" : 0,
                    "exceptionProfileId" : "EXAMPLE_ANOTHER",
                    "isDestination" : 1,
                    "defaultCpc" : null,
                    "homeMobileNetwork" : 0,
                    "origEntityRoutingProfileId" : "EXAMPLE_ANOTHER",
                    "callingArea" : "555_ANOTHER",
                    "businessUnitId" : null,
                    "deviceProfileId" : null,
                    "memberStatus" : -1
                }
            }
        }
    }
}
+++++
< 500
< Transaction-Id: 1380080943120
< Content-Type: application/json
{
    "errorCode" : "**tbd",
    "summary" : "**tbd Internal Error",
    "detail" : "[detail here]"
}
+++++
< 400
< Transaction-Id: 1380080943120
< Content-Type: application/json
{
    "errorCode" : "FORMAT_ERROR",
    "summary" : "Input validation failure",
    "detail" : "Request validation failed: params.subscriberDn does not match pattern^\\+[0-9]+-[0-9]+$: was processing value \"+1-\""
}

Query Subscribers. Responses will include (at a minimum) they fields comprising the unique key for the resource.

##URI Query Parameters

<table border=1>
    <thead>
    <th>Parameter</th>
    <th>Required?</th>
    <th>Mode</th>
    </thead>
    <tbody>
        <tr>
            <td>subscriberDn</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>Equal To</td>
        </tr>
        <tr>
            <td>owningCarrierId</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>Equal To</td>
        </tr>
    </tbody>
</table>
GET /subscribers{?subscriberDn,owningCarrierId}
< 200
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120
{
    "_links" : {
        "self" : {
            "href" : "http://lokiserver.apiary.io/loki/subscribers?subscriberDn=%2B1-2005553001&owningCarrierId=16"
        }
    },
    "curies" : [
        {
            "name" : "ls",
            "href" : "http://lokiserver.apiary.io/loki/rels/{rel}",
            "templated" : true
        }
    ],
    "_embedded" : {
        "ls:subscribers" : [
            {
                "_links" : {
                    "self" : {
                        "href" : "http://lokiserver.apiary.io/loki/subscribers/1-2005553001-1-16"
                    }
                },
                "id" : "1-2005553001-1-16",
                "subscriberDn" : "+1-2005553001",
                "extensions" : {
                    "sonusPsx" : {
                        "owningCarrierId" : "16",
                        "businessGroupId" : null,
                        "interLataCarrierId" : "5000",
                        "intraLataCarrierId" : "5000",
                        "intlCarrierId" : "5000",
                        "assignedCarrierId" : null,
                        "presentationFlag" : 0,
                        "prfdPacketServiceProfileId" : null,
                        "optionType" : 0,
                        "testSubscriber" : 0,
                        "billingPlanId" : "EXAMPLE_PLAN",
                        "localCarrierId" : "5000",
                        "authcodeScriptId" : "EXAMPLE_SCRIPT",
                        "elementAttributes" : 0,
                        "classOfServiceId" : "EXAMPLE_COS",
                        "pseudoCarrierId" : null,
                        "infoDigitId" : null,
                        "scpBusinessServiceGroup" : 0,
                        "authcodeGroupId" : null,
                        "pinDigits" : null,
                        "svcList1" : 0,
                        "svcList2" : 0,
                        "exceptionProfileId" : "EXAMPLE_PROFILE",
                        "isDestination" : 1,
                        "defaultCpc" : null,
                        "homeMobileNetwork" : 0,
                        "origEntityRoutingProfileId" : "EXAMPLE_RTGPROFILE",
                        "callingArea" : "555_EXAMPLE",
                        "businessUnitId" : null,
                        "deviceProfileId" : null,
                        "memberStatus" : -1
                    }
                }
            }
        ]
    }
}
+++++
< 404
< Transaction-Id: 1380080943120
{
    "errorCode": "ERR_REC_NOT_FOUND",
    "summary": "Failed to 'Retrieve' entity.",
    "detail": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" [^] xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" [^] xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n [^] <soapenv:Body>\n <soapenv:Fault>\n <faultcode>soapenv:Server.generalException</faultcode>\n <faultstring></faultstring>\n <detail>\n <ns1:fault href=\"#id0\" xmlns:ns1=\"http://www.sonusnet.com/ems/emsapi/psx/r07_03_06/intf\"/>\n [^] <ns2:exceptionName xmlns:ns2=\"http://xml.apache.org/axis/\">com.sonus.ems.api.psx.r07_03_06.model.ProvApiException</ns2:exceptionName>\n [^] </detail>\n </soapenv:Fault>\n <multiRef id=\"id0\" soapenc:root=\"0\" soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" [^] xsi:type=\"ns3:ProvApiException\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" [^] xmlns:ns3=\"http://www.sonusnet.com/ems/emsapi/psx/r07_03_06/model\">\n [^] <errorCode xsi:type=\"xsd:string\">ERR_REC_NOT_FOUND</errorCode>\n <message xsi:type=\"xsd:string\">Failed to 'Retrieve' entity.</message>\n <rootCause xsi:type=\"xsd:string\">(ERR_REC_NOT_FOUND) [resource] not found for the given criteria. (rc=17)</rootCause>\n </multiRef>\n </soapenv:Body>\n</soapenv:Envelope>"
}
+++++
< 400
< Transaction-Id: 1380080943120
< Content-Type: application/json
{
    "errorCode" : "FORMAT_ERROR",
    "summary" : "Input validation failure",
    "detail" : "Request validation failed: params.subscriberDn does not match pattern^\\+[0-9]+-[0-9]+$: was processing value \"+1-\""
}


Update a subscriber. All fields are optional.
PUT /subscribers/{+id}
> Content-Type: application/json
{
    "extensions" : {
        "sonusPsx" : {
            "businessGroupId" : null,
            "interLataCarrierId" : "5000",
            "intraLataCarrierId" : "5000",
            "intlCarrierId" : "5000",
            "assignedCarrierId" : null,
            "presentationFlag" : 0,
            "prfdPacketServiceProfileId" : null,
            "optionType" : 0,
            "testSubscriber" : 0,
            "billingPlanId" : "EXAMPLE_PLAN",
            "localCarrierId" : "5000",
            "authcodeScriptId" : "EXAMPLE_SCRIPT",
            "elementAttributes" : 0,
            "classOfServiceId" : "EXAMPLE_COS",
            "pseudoCarrierId" : null,
            "infoDigitId" : null,
            "scpBusinessServiceGroup" : 0,
            "authcodeGroupId" : null,
            "pinDigits" : null,
            "svcList1" : 0,
            "svcList2" : 0,
            "exceptionProfileId" : "EXAMPLE_PROFILE",
            "isDestination" : 1,
            "defaultCpc" : null,
            "homeMobileNetwork" : 0,
            "origEntityRoutingProfileId" : "EXAMPLE_RTGPROFILE",
            "callingArea" : "555_EXAMPLE",
            "businessUnitId" : null,
            "deviceProfileId" : null,
            "memberStatus" : -1
        }
    }
}
< 204
< Transaction-Id: 1380080943120
+++++
< 404
< Transaction-Id: 1380080943120


Delete a subscriber.
DELETE /subscribers/{+id}
< 204
< Transaction-Id: 1380080943120
+++++
< 404
< Transaction-Id: 1380080943120


--
Destinations
##Collection

Supported network elements:

* Sonus PSX

Keys:

* destinationDn

Extension Keys:

* (none)

Refer to the **Sonus Insight API Programmer Guide** for descriptions, data types, defaults, and allowed values for
request and response properties under <code>extensions.sonusPsx</code>. Note:

* If the Sonus documentation indicates a data type of integer, short, or long, the value will be numeric in the LWS-REST JSON responses.
* If the Sonus documentation indicates a data type of string, the value will be a string (or null) in the LWS-REST JSON responses.
--

Create a new Destination.
POST /destinations
> Content-Type: application/json
{
    "destinationDn" : "+1-2005553001",
    "extensions" : {
        "sonusPsx" : {
            "destSvcScriptId" : null,
            "customScriptId" : null,
            "elementAttributes" : 0,
            "prfdPacketServiceProfileId" : null,
            "routingLabelId" : "EXAMPLE_RTNG_LBL",
            "isSubscriber" : 1,
            "portedType" : 0,
            "lnpTransitionFlag" : 0,
            "homeGateway" : "EXAMPLE_GW",
            "exceptionProfileId" : null,
            "businessGroupId" : null,
            "businessUnitId" : null
        }
    }
}
< 201
< Location: http://lokiserver.apiary.io/loki/destinations/1-2005553001-1
< Transaction-Id: 1380080943120
+++++
< 409
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120
{
    "_links" : {
        "self" : {
            "href" : "http://lokiserver.apiary.io/loki/destinations"
        }
    },
    "curies" : [
        {
            "name" : "ls",
            "href" : "http://lokiserver.apiary.io/loki/rels/{rel}",
            "templated" : true
        }
    ],
    "_embedded" : {
        "ls:destinations" : {
            "_links" : {
                "self" : {
                    "href" : "http://lokiserver.apiary.io/loki/destinations/1-2005553001-1"
                }
            },
            "id" : "1-2005553001-1",
            "destinationDn" : "+1-2005553001",
            "extensions" : {
                "sonusPsx" : {
                    "destSvcScriptId" : null,
                    "customScriptId" : null,
                    "elementAttributes" : 0,
                    "prfdPacketServiceProfileId" : null,
                    "routingLabelId" : "EXAMPLE_RTNG_LBL",
                    "isSubscriber" : 1,
                    "portedType" : 0,
                    "lnpTransitionFlag" : 0,
                    "homeGateway" : "EXAMPLE_GW",
                    "exceptionProfileId" : null,
                    "businessGroupId" : null,
                    "businessUnitId" : null
                }
            }
        }
    }
}
+++++
< 500
< Transaction-Id: 1380080943120
< Content-Type: application/json
{
    "errorCode" : "**tbd",
    "summary" : "**tbd Internal Error",
    "detail" : "[detail here]"
}
+++++
< 400
< Transaction-Id: 1380080943120
< Content-Type: application/json
{
    "errorCode" : "FORMAT_ERROR",
    "summary" : "Input validation failure",
    "detail" : "Request validation failed: params.destinationDn does not match pattern^\\+[0-9]+-[0-9]+$: was processing value \"+1-\""
}

Query Destinations. Responses will include (at a minimum) they fields comprising the unique key for the resource.

##URI Query Parameters

<table border=1>
    <thead>
    <th>Parameter</th>
    <th>Required?</th>
    <th>Mode</th>
    </thead>
    <tbody>
        <tr>
            <td>destinationDn</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>Equal To</td>
        </tr>
    </tbody>
</table>
GET /destinations{?destinationDn}
< 200
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120
{
    "_links" : {
        "self" : {
            "href" : "http://lokiserver.apiary.io/loki/destinations?destinationDn=%2B1-2005553001"
        }
    },
    "curies" : [
        {
            "name" : "ls",
            "href" : "http://lokiserver.apiary.io/loki/rels/{rel}",
            "templated" : true
        }
    ],
    "_embedded" : {
        "ls:destinations" : [
            {
                "_links" : {
                    "self" : {
                        "href" : "http://lokiserver.apiary.io/loki/destinations/1-2005553001-1"
                    }
                },
                "id" : "1-2005553001-1",
                "destinationDn" : "+1-2005553001",
                "extensions" : {
                    "sonusPsx" : {
                        "destSvcScriptId" : null,
                        "customScriptId" : null,
                        "elementAttributes" : 0,
                        "prfdPacketServiceProfileId" : null,
                        "routingLabelId" : "ANOTHER_RTNG_LBL",
                        "isSubscriber" : 0,
                        "portedType" : 0,
                        "lnpTransitionFlag" : 0,
                        "homeGateway" : "ANOTHER_GW",
                        "exceptionProfileId" : null,
                        "businessGroupId" : null,
                        "businessUnitId" : null
                    }
                }
            }
        ]
    }
}
+++++
< 404
< Transaction-Id: 1380080943120
{
    "errorCode": "ERR_REC_NOT_FOUND",
    "summary": "Failed to 'Retrieve' entity.",
    "detail": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" [^] xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" [^] xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n [^] <soapenv:Body>\n <soapenv:Fault>\n <faultcode>soapenv:Server.generalException</faultcode>\n <faultstring></faultstring>\n <detail>\n <ns1:fault href=\"#id0\" xmlns:ns1=\"http://www.sonusnet.com/ems/emsapi/psx/r07_03_06/intf\"/>\n [^] <ns2:exceptionName xmlns:ns2=\"http://xml.apache.org/axis/\">com.sonus.ems.api.psx.r07_03_06.model.ProvApiException</ns2:exceptionName>\n [^] </detail>\n </soapenv:Fault>\n <multiRef id=\"id0\" soapenc:root=\"0\" soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" [^] xsi:type=\"ns3:ProvApiException\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" [^] xmlns:ns3=\"http://www.sonusnet.com/ems/emsapi/psx/r07_03_06/model\">\n [^] <errorCode xsi:type=\"xsd:string\">ERR_REC_NOT_FOUND</errorCode>\n <message xsi:type=\"xsd:string\">Failed to 'Retrieve' entity.</message>\n <rootCause xsi:type=\"xsd:string\">(ERR_REC_NOT_FOUND) [resource] not found for the given criteria. (rc=17)</rootCause>\n </multiRef>\n </soapenv:Body>\n</soapenv:Envelope>"
}
+++++
< 400
< Transaction-Id: 1380080943120
< Content-Type: application/json
{
    "errorCode" : "FORMAT_ERROR",
    "summary" : "Input validation failure",
    "detail" : "Request validation failed: params.destinationDn does not match pattern^\\+[0-9]+-[0-9]+$: was processing value \"+1-\""
}


Update a destination. All fields are optional.
PUT /destinations/{+id}
> Content-Type: application/json
{
    "extensions" : {
        "sonusPsx" : {
            "destSvcScriptId" : null,
            "customScriptId" : null,
            "elementAttributes" : 0,
            "prfdPacketServiceProfileId" : null,
            "routingLabelId" : "EXAMPLE_RTNG_LBL",
            "isSubscriber" : 1,
            "portedType" : 0,
            "lnpTransitionFlag" : 0,
            "homeGateway" : "EXAMPLE_GW",
            "exceptionProfileId" : null,
            "businessGroupId" : null,
            "businessUnitId" : null
        }
    }
}
< 204
< Transaction-Id: 1380080943120
+++++
< 404
< Transaction-Id: 1380080943120


Delete a destination.
DELETE /destinations/{+id}
< 204
< Transaction-Id: 1380080943120
+++++
< 404
< Transaction-Id: 1380080943120


--
Routes
##Collection

Supported network elements:

* Sonus PSX

Keys:

* destinationDn

Extension Keys:

* callProcessingElement1Id
* callProcessingElement2Id
* callProcessingElement3Id
* callProcessingElement4Id
* callProcessingElementType
* routingType
* partitionId
* calltype
* transmissionMedium
* userCallType
* digitType
* timeRangeProfileId
* callParamFilterProfileId
* domainName

Refer to the **Sonus Insight API Programmer Guide** for descriptions, data types, defaults, and allowed values for
request and response properties under <code>extensions.sonusPsx</code>. Note:

* If the Sonus documentation indicates a data type of integer, short, or long, the value will be numeric in the LWS-REST JSON responses.
* If the Sonus documentation indicates a data type of string, the value will be a string (or null) in the LWS-REST JSON responses.
--

Create a new Route.
POST /routes
> Content-Type: application/json
{
    "destinationDn" : "+1-2005553001",
    "extensions" : {
        "sonusPsx" : {
	        "callProcessingElement1Id" : null,
	        "callProcessingElement2Id" : null,
	        "callProcessingElement3Id" : null,
	        "callProcessingElement4Id" : null,
	        "callProcessingElementType" : 0,
	        "routingType" : 3,
	        "partitionId" : "EXAMPLE_PARTITION",
	        "calltype" : 0,
	        "transmissionMedium" : 0,
	        "userCallType" : 0,
	        "digitType" : 2147483647,
	        "timeRangeProfileId" : "ALL",
	        "callParamFilterProfileId" : null,
	        "domainName" : null,
	        "routingLabelId" : "EXAMPLE_RTNG_LBL"
        }
    }
}
< 201
< Location: http://lokiserver.apiary.io/loki/routes/1-----0-3-2005553001-1-EXAMPLE_PARTITION-0-0-0-2147483647-ALL--
< Transaction-Id: 1380080943120
+++++
< 409
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120
{
    "_links" : {
        "self" : {
            "href" : "http://lokiserver.apiary.io/loki/routes"
        }
    },
    "curies" : [
        {
            "name" : "ls",
            "href" : "http://lokiserver.apiary.io/loki/rels/{rel}",
            "templated" : true
        }
    ],
    "_embedded" : {
        "ls:routes" : {
            "_links" : {
                "self" : {
                    "href" : "http://lokiserver.apiary.io/loki/routes/1-----0-3-2005553001-1-EXAMPLE_PARTITION-0-0-0-2147483647-ALL--"
                }
            },
            "id" : "1-----0-3-2005553001-1-EXAMPLE_PARTITION-0-0-0-2147483647-ALL--",
            "destinationDn" : "+1-2005553001",
            "extensions" : {
                "sonusPsx" : {
	                "callProcessingElement1Id" : null,
	                "callProcessingElement2Id" : null,
	                "callProcessingElement3Id" : null,
	                "callProcessingElement4Id" : null,
	                "callProcessingElementType" : 0,
	                "routingType" : 3,
	                "partitionId" : "EXAMPLE_PARTITION",
	                "calltype" : 0,
	                "transmissionMedium" : 0,
	                "userCallType" : 0,
	                "digitType" : 2147483647,
	                "timeRangeProfileId" : "ALL",
	                "callParamFilterProfileId" : null,
	                "domainName" : null,
	                "routingLabelId" : "ANOTHER_RTNG_LBL"
                }
            }
        }
    }
}
+++++
< 500
< Transaction-Id: 1380080943120
< Content-Type: application/json
{
    "errorCode" : "**tbd",
    "summary" : "**tbd Internal Error",
    "detail" : "[detail here]"
}
+++++
< 400
< Transaction-Id: 1380080943120
< Content-Type: application/json
{
    "errorCode" : "FORMAT_ERROR",
    "summary" : "Input validation failure",
    "detail" : "Request validation failed: params.destinationDn does not match pattern^\\+[0-9]+-[0-9]+$: was processing value \"+1-\""
}

Query Routes. Responses will include (at a minimum) they fields comprising the unique key for the resource.

##URI Query Parameters

This request supports two modes. In both cases:

* Each parameter is expected to be complete (the match is an "equals" match, with
no support for wildcards or partial values).
* A "null" value can be searched for by explicitly including the parameter with no value,
e.g. "...&callProcessingElement1Id=".
* If no match is found, the response will be 404 Not Found
* When one or more matches or found, they will be included in the embedded array _embedded."ls:routes"[].

To retrieve a single route resource given all elements of the key, include **all** of (and only) the following
parameters in the request (even if some have null values):

* destinationDn
* callProcessingElement1Id
* callProcessingElement2Id
* callProcessingElement3Id
* callProcessingElement4Id
* callProcessingElementType
* routingType
* partitionId
* calltype
* transmissionMedium
* userCallType
* digitType
* timeRangeProfileId
* callParamFilterProfileId
* domainName

To retrieve all matching route resources for various search criteria, include one or more of the following
parameters in the request:

* destinationDn
* partitionId
* callProcessingElement1Id
* callProcessingElement2Id
* callProcessingElement3Id
* callProcessingElement4Id
* routingLabelId
* callParamFilterProfileId
* domainName
GET /routes{?...}
< 200
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120
{
        "_links" : {
            "self" : {
                "href" : "http://lokiserver.apiary.io/loki/routes?destinationDn=%2B1-2005553001&callProcessingElement1Id=&callProcessingElement2Id=&callProcessingElement3Id=&callProcessingElement4Id=&callProcessingElementType=0&routingType=3&partitionId=EXAMPLE_PARTITION&calltype=0&transmissionMedium=0&userCallType=0&digitType=2147483647&timeRangeProfileId=ALL&callParamFilterProfileId=&domainName="
            }
        },
        "curies" : [
            {
                "name" : "ls",
                "href" : "http://lokiserver.apiary.io/loki/rels/{rel}",
                "templated" : true
            }
        ],
        "_embedded" : {
            "ls:routes" : [
                {
                    "_links" : {
                        "self" : {
                            "href" : "http://lokiserver.apiary.io/loki/routes/1-----0-3-2005553001-1-EXAMPLE_PARTITION-0-0-0-2147483647-ALL--"
                        }
                    },
                    "id" : "1-----0-3-2005553001-1-EXAMPLE_PARTITION-0-0-0-2147483647-ALL--",
                    "destinationDn" : "+1-2005553001",
                    "extensions" : {
                        "sonusPsx" : {
    	                    "callProcessingElement1Id" : null,
        	                "callProcessingElement2Id" : null,
    	                    "callProcessingElement3Id" : null,
    	                    "callProcessingElement4Id" : null,
    	                    "callProcessingElementType" : 0,
    	                    "routingType" : 3,
    	                    "partitionId" : "EXAMPLE_PARTITION",
        	                "calltype" : 0,
    	                    "transmissionMedium" : 0,
    	                    "userCallType" : 0,
    	                    "digitType" : 2147483647,
    	                    "timeRangeProfileId" : "ALL",
    	                    "callParamFilterProfileId" : null,
        	                "domainName" : null,
    	                    "routingLabelId" : "EXAMPLE_RTNG_LBL"
                        }
                    }
                },
                {
                    "_links" : {
                        "self" : {
                            "href" : "http://lokiserver.apiary.io/loki/routes/1-4----0-3-2005553001-1-ANOTHER_PARTITION-0-0-0-2147483647-ALL--"
                        }
                    },
                    "id" : "1-4----0-3-2005553001-1-ANOTHER_PARTITION-0-0-0-2147483647-ALL--",
                    "destinationDn" : "+1-2005553001",
                    "extensions" : {
                        "sonusPsx" : {
    	                    "callProcessingElement1Id" : 4,
        	                "callProcessingElement2Id" : null,
    	                    "callProcessingElement3Id" : null,
    	                    "callProcessingElement4Id" : null,
    	                    "callProcessingElementType" : 0,
    	                    "routingType" : 3,
    	                    "partitionId" : "ANOTHER_PARTITION",
        	                "calltype" : 0,
    	                    "transmissionMedium" : 0,
    	                    "userCallType" : 0,
    	                    "digitType" : 2147483647,
    	                    "timeRangeProfileId" : "ALL",
    	                    "callParamFilterProfileId" : null,
        	                "domainName" : null,
    	                    "routingLabelId" : "ANOTHER_RTNG_LBL"
                        }
                    }
                }
            ]
        }
}
+++++
< 404
< Transaction-Id: 1380080943120
{
    "errorCode": "ERR_REC_NOT_FOUND",
    "summary": "Failed to 'Retrieve' entity.",
    "detail": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" [^] xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" [^] xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n [^] <soapenv:Body>\n <soapenv:Fault>\n <faultcode>soapenv:Server.generalException</faultcode>\n <faultstring></faultstring>\n <detail>\n <ns1:fault href=\"#id0\" xmlns:ns1=\"http://www.sonusnet.com/ems/emsapi/psx/r07_03_06/intf\"/>\n [^] <ns2:exceptionName xmlns:ns2=\"http://xml.apache.org/axis/\">com.sonus.ems.api.psx.r07_03_06.model.ProvApiException</ns2:exceptionName>\n [^] </detail>\n </soapenv:Fault>\n <multiRef id=\"id0\" soapenc:root=\"0\" soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" [^] xsi:type=\"ns3:ProvApiException\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" [^] xmlns:ns3=\"http://www.sonusnet.com/ems/emsapi/psx/r07_03_06/model\">\n [^] <errorCode xsi:type=\"xsd:string\">ERR_REC_NOT_FOUND</errorCode>\n <message xsi:type=\"xsd:string\">Failed to 'Retrieve' entity.</message>\n <rootCause xsi:type=\"xsd:string\">(ERR_REC_NOT_FOUND) [resource] not found for the given criteria. (rc=17)</rootCause>\n </multiRef>\n </soapenv:Body>\n</soapenv:Envelope>"
}
+++++
< 404
< Transaction-Id: 1380080943120
{
    "errorCode": "ERR_REC_NOT_FOUND",
    "summary": "Internal Error",
    "detail": "Query returned no records"
}
+++++
< 400
< Transaction-Id: 1380080943120
< Content-Type: application/json
{
    "errorCode" : "FORMAT_ERROR",
    "summary" : "Input validation failure",
    "detail" : "Request validation failed: params.destinationDn does not match pattern^\\+[0-9]+-[0-9]+$: was processing value \"+1-\""
}


Update a route. All fields are optional.
PUT /routes/{+id}
> Content-Type: application/json
{
    "extensions" : {
        "sonusPsx" : {
	        "routingLabelId" : "EXAMPLE_RTNG_LBL"
        }
    }
}
< 204
< Transaction-Id: 1380080943120
+++++
< 404
< Transaction-Id: 1380080943120


Delete a route.
DELETE /routes/{+id}
< 204
< Transaction-Id: 1380080943120
+++++
< 404
< Transaction-Id: 1380080943120


--
Customers
##Collection

Supported network elements:

* BroadWorks Application Server

Keys:

* customerId

Extension Keys:

* (none)
--

Retrieve the Customer matching a specific BroadWorks serviceProviderId.
Can be used to resolve the Loki Server customerId of a Customer when only the
BroadWorks IDs are known.<br />
Process name: Retrieve Customer by BroadWorks Key (VoIP Entity)

##URI Query Parameters

<table border=1>
    <thead>
    <th>Parameter</th>
    <th>Required?</th>
    <th>Default</th>
    <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>extensions.broadworks.serviceProviderId</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>n/a</td>
            <td>Corresponds to the serviceProviderId of the service provider (or enterprise) in BroadWorks.
            </td>
        </tr>
    </tbody>
</table>
GET /customers{?extensions.broadworks.serviceProviderId}
< 200
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120
{
    "_links": {
        "self": {
            "href": "http://lokiserver.apiary.io/loki/customers/ExampleCom"
        }
    },
    "customerId": "Example Com",
    "defaultDomain": "example.com",
    "customerName": "Example Com Co.",
    "supportEmail": "support@example.com",
    "contact": {
        "name": "Billy",
        "number": "Bishop",
        "email": "billy@example.com"
    },
    "address": {
        "addressLine1": "415 Sixth Ave",
        "addressLine2": "Suite 102",
        "city": "North Seventh",
        "stateOrProvince": "Alabama",
        "zipOrPostalCode": "50415",
        "country": "USA"
    },
    "useServiceProviderLanguages": false,
    "extensions": {
        "broadworks": {
            "isEnterprise": true,
            "serviceProviderId": "Example Com"
        }
    },
    "curies": [
        {
            "name": "ls",
            "href": "http://lokiserver.apiary.io/loki/rels/{rel}",
            "templated": true
        }
    ]
}
 
 
<!--------------------------------- GET /customers/{+customerId} ------------------------------->

Retrieve the Customer matching a specific customerId.<br/>
Process Name: Retrieve Customer (VoIP Entity)

## URI Template Parameters
<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>customerId</td><td>yes</td><td>n/a</td><td>Loki Server customerId (server-generated) of the Customer</td></tr>
    </tbody>
</table>
<!--- JSON Schema for GET /customers/{+customerId} uriSchema:
{"title":"URI Template Parameters","required":["customerId"],"properties":{"customerId":{"title":"Loki Server customerId (server-generated) of the Customer","type":"string","minLength":1,"maxLength":30}}} -->

## Response Properties - 200 OK
<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>customerId</td><td>yes</td><td>n/a</td><td>Loki Server customerId (server-generated) of the Customer</td></tr>
    <tr><td>defaultDomain</td><td>yes</td><td>n/a</td><td></td></tr>
    <tr><td>customerName</td><td>no</td><td>n/a</td><td></td></tr>
    <tr><td>supportEmail</td><td>no</td><td>n/a</td><td></td></tr>
    <tr><td>contact</td><td>no</td><td>n/a</td><td>Container for Contact information.<br>Details of the Contact properties:<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>name</td><td>no</td><td>n/a</td><td>Contact Name</td></tr>
    <tr><td>number</td><td>no</td><td>n/a</td><td>Contact Phone Number</td></tr>
    <tr><td>email</td><td>no</td><td>n/a</td><td>Contact E-mail address</td></tr>
    </tbody>
</table></td></tr>
    <tr><td>address</td><td>no</td><td>n/a</td><td>Container for Address information.<br>Details of the Address properties:<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>addressLine1</td><td>no</td><td>n/a</td><td>Street address</td></tr>
    <tr><td>addressLine2</td><td>no</td><td>n/a</td><td>Street address</td></tr>
    <tr><td>city</td><td>no</td><td>n/a</td><td>City</td></tr>
    <tr><td>stateOrProvince</td><td>no</td><td>n/a</td><td>State or Province</td></tr>
    <tr><td>zipOrPostalCode</td><td>no</td><td>n/a</td><td>Zip or Postal Code</td></tr>
    <tr><td>country</td><td>no</td><td>n/a</td><td>Country</td></tr>
    </tbody>
</table></td></tr>
    <tr><td>useServiceProviderLanguages</td><td>no</td><td>n/a</td><td></td></tr>
    <tr><td>extensions</td><td>no</td><td>n/a</td><td>Container for network-element specific properties<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>broadworks</td><td>no</td><td>n/a</td><td>Container for BroadWorks-specific properties.<br>Details of the BroadWorks-specific properties:<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>isEnterprise</td><td>yes</td><td>n/a</td><td>True if BroadWorks entity is enterprise, false if it is service provider</td></tr>
    <tr><td>serviceProviderId</td><td>yes</td><td>n/a</td><td>The ID of the BroadWorks Service Provider/Enterprise</td></tr>
    <tr><td>useCustomRoutingProfile</td><td>no</td><td>n/a</td><td>Appears for service providers only</td></tr>
    </tbody>
</table></td></tr>
    </tbody>
</table></td></tr>
    </tbody>
</table>
<!--- JSON Schema for GET /customers/{+customerId} Response 200:
{"title":"Response Properties - 200 OK","type":"object","required":["customerId","defaultDomain","_links","curies"],"properties":{"_links":{"type":"object","required":["self"],"properties":{"self":{"type":"object","required":["href"],"properties":{"href":{"type":"string"}}}}},"customerId":{"title":"Loki Server customerId (server-generated) of the Customer","type":"string","minLength":1,"maxLength":30},"defaultDomain":{"type":"string","minLength":1,"maxLength":80,"pattern":"^[a-zA-Z0-9.-]+$"},"customerName":{"type":"string","minLength":1,"maxLength":80},"supportEmail":{"type":"string","minLength":1,"maxLength":80,"format":"email"},"contact":{"description":"Container for Contact information.<br>Details of the Contact properties:","type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":30,"description":"Contact Name"},"number":{"type":"string","minLength":1,"maxLength":30,"description":"Contact Phone Number"},"email":{"type":"string","minLength":1,"maxLength":80,"format":"email","description":"Contact E-mail address"}}},"address":{"type":"object","description":"Container for Address information.<br>Details of the Address properties:","properties":{"addressLine1":{"type":"string","minLength":1,"maxLength":80,"description":"Street address"},"addressLine2":{"type":"string","minLength":1,"maxLength":80,"description":"Street address"},"city":{"type":"string","minLength":1,"maxLength":50,"description":"City"},"stateOrProvince":{"type":"string","minLength":1,"maxLength":50,"description":"State or Province"},"zipOrPostalCode":{"type":"string","minLength":1,"maxLength":50,"description":"Zip or Postal Code"},"country":{"type":"string","minLength":1,"maxLength":50,"description":"Country"}}},"useServiceProviderLanguages":{"type":"boolean"},"extensions":{"description":"Container for network-element specific properties","type":"object","properties":{"broadworks":{"description":"Container for BroadWorks-specific properties.<br>Details of the BroadWorks-specific properties:","type":"object","required":["serviceProviderId","isEnterprise"],"properties":{"isEnterprise":{"type":"boolean","description":"True if BroadWorks entity is enterprise, false if it is service provider"},"serviceProviderId":{"title":"The ID of the BroadWorks Service Provider/Enterprise","type":"string","minLength":1,"maxLength":30},"useCustomRoutingProfile":{"type":"boolean","description":"Appears for service providers only"}}}}},"curies":{"type":"array","items":{"type":"object","required":["name","href","templated"],"properties":{"name":{"type":"string"},"href":{"type":"string"},"templated":{"type":"boolean"}}}}}} -->


GET /customers/{+customerId}
< 200
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120
{
    "_links": {
        "self": {
            "href": "http://lokiserver.apiary.io/loki/customers/Example%20Com"
        }
    },
    "customerId": "Example Com",
    "defaultDomain": "example.com",
    "customerName": "Example Com Co.",
    "supportEmail": "support@example.com",
    "contact": {
        "name": "Billy",
        "number": "Bishop",
        "email": "billy@example.com"
    },
    "address": {
        "addressLine1": "415 Sixth Ave",
        "addressLine2": "Suite 102",
        "city": "North Seventh",
        "stateOrProvince": "Alabama",
        "zipOrPostalCode": "50415",
        "country": "USA"
    },
    "useServiceProviderLanguages": false,
    "extensions": {
        "broadworks": {
            "isEnterprise": true,
            "serviceProviderId": "Example Com"
        }
    },
    "curies": [
        {
            "name": "ls",
            "href": "http://lokiserver.apiary.io/loki/rels/{rel}",
            "templated": true
        }
    ]
}

<!--- JSON Schema for GET /customers/{+customerId} response 200:
{"title":"Response Properties - 200 OK","type":"object","required":["customerId","defaultDomain","_links","curies"],"properties":{"_links":{"type":"object","required":["self"],"properties":{"self":{"type":"object","required":["href"],"properties":{"href":{"type":"string"}}}}},"customerId":{"title":"Loki Server customerId (server-generated) of the Customer","type":"string","minLength":1,"maxLength":30},"defaultDomain":{"type":"string","minLength":1,"maxLength":80,"pattern":"^[a-zA-Z0-9.-]+$"},"customerName":{"type":"string","minLength":1,"maxLength":80},"supportEmail":{"type":"string","minLength":1,"maxLength":80,"format":"email"},"contact":{"description":"Container for Contact information.<br>Details of the Contact properties:","type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":30,"description":"Contact Name"},"number":{"type":"string","minLength":1,"maxLength":30,"description":"Contact Phone Number"},"email":{"type":"string","minLength":1,"maxLength":80,"format":"email","description":"Contact E-mail address"}}},"address":{"type":"object","description":"Container for Address information.<br>Details of the Address properties:","properties":{"addressLine1":{"type":"string","minLength":1,"maxLength":80,"description":"Street address"},"addressLine2":{"type":"string","minLength":1,"maxLength":80,"description":"Street address"},"city":{"type":"string","minLength":1,"maxLength":50,"description":"City"},"stateOrProvince":{"type":"string","minLength":1,"maxLength":50,"description":"State or Province"},"zipOrPostalCode":{"type":"string","minLength":1,"maxLength":50,"description":"Zip or Postal Code"},"country":{"type":"string","minLength":1,"maxLength":50,"description":"Country"}}},"useServiceProviderLanguages":{"type":"boolean"},"extensions":{"description":"Container for network-element specific properties","type":"object","properties":{"broadworks":{"description":"Container for BroadWorks-specific properties.<br>Details of the BroadWorks-specific properties:","type":"object","required":["serviceProviderId","isEnterprise"],"properties":{"isEnterprise":{"type":"boolean","description":"True if BroadWorks entity is enterprise, false if it is service provider"},"serviceProviderId":{"title":"The ID of the BroadWorks Service Provider/Enterprise","type":"string","minLength":1,"maxLength":30},"useCustomRoutingProfile":{"type":"boolean","description":"Appears for service providers only"}}}}},"curies":{"type":"array","items":{"type":"object","required":["name","href","templated"],"properties":{"name":{"type":"string"},"href":{"type":"string"},"templated":{"type":"boolean"}}}}}} -->


<!--------------------------------- POST /customers{?mode} ------------------------------->

Create Customer.<br/>
Process Name: Create Customer (VoIP Entity)

## URI Query Parameters
<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>mode</td><td>yes</td><td>n/a</td><td>Controls execution mode.<br><b>Note</b>: at this time only "create-only" (attempts to create the resource, with no pre-validation) is allowed</td></tr>
    </tbody>
</table>
<!--- JSON Schema for POST /customers{?mode} uriQuerySchema:
{"title":"URI Query Parameters","required":["mode"],"properties":{"mode":{"description":"Controls execution mode.<br><b>Note</b>: at this time only \"create-only\" (attempts to create the resource, with no pre-validation) is allowed","enum":["prevalidate-only","prevalidate-and-create","create-only"]}}} -->

## Request Properties
<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>name</td><td>yes</td><td>n/a</td><td>This property is used to construct the BroadWorks serviceProviderId and serviceProviderName</td></tr>
    <tr><td>defaultDomain</td><td>no</td><td>n/a</td><td>Default domain. Will be added to BroadWorks if not already exists. By default, default system domain will be used</td></tr>
    <tr><td>supportEmail</td><td>no</td><td>n/a</td><td>Must be a valid email address</td></tr>
    <tr><td>contact</td><td>no</td><td>n/a</td><td>Container for Contact information.<br>Details of the Contact properties:<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>name</td><td>no</td><td>n/a</td><td>Contact Name</td></tr>
    <tr><td>number</td><td>no</td><td>n/a</td><td>Contact Phone Number</td></tr>
    <tr><td>email</td><td>no</td><td>n/a</td><td>Contact E-mail address</td></tr>
    </tbody>
</table></td></tr>
    <tr><td>address</td><td>no</td><td>n/a</td><td>Container for Address information.<br>Details of the Address properties:<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>addressLine1</td><td>no</td><td>n/a</td><td>Street address</td></tr>
    <tr><td>addressLine2</td><td>no</td><td>n/a</td><td>Street address</td></tr>
    <tr><td>city</td><td>no</td><td>n/a</td><td>City</td></tr>
    <tr><td>stateOrProvince</td><td>no</td><td>n/a</td><td>State or Province</td></tr>
    <tr><td>zipOrPostalCode</td><td>no</td><td>n/a</td><td>Zip or Postal Code</td></tr>
    <tr><td>country</td><td>no</td><td>n/a</td><td>Country</td></tr>
    </tbody>
</table></td></tr>
    <tr><td>networkClassesOfService</td><td>no</td><td>n/a</td><td><b>Not Implemented.</b><br>Container for Network Classes of Service specific properties<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>default</td><td>no</td><td>n/a</td><td><b>Not Implemented.</b><br>Group's default Network Class of Service</td></tr>
    </tbody>
</table></td></tr>
    <tr><td>extensions</td><td>no</td><td>n/a</td><td><table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>broadworks</td><td>no</td><td>n/a</td><td>Container for BroadWorks-specific properties.<br>Details of the BroadWorks-specific properties:<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>serviceProviderId</td><td>no</td><td>n/a</td><td>The ID of the BroadWorks Service Provider/Enterprise.<br>If present in the request body, it overwrites the serviceProviderId value that was generated from the name parameter</td></tr>
    <tr><td>isEnterprise</td><td>no</td><td>true</td><td>Determines if service provider or enterprise will be created</td></tr>
    <tr><td>hostingNe</td><td>no</td><td>n/a</td><td>hostingNE of Broadworks Application Server.<br>BroadWorks cluster ID. Must match to one of hostingNe's specified in the Loki Server configuration. When omitted, default cluster is used</td></tr>
    <tr><td>useCustomRoutingProfile</td><td>no</td><td>n/a</td><td>Required when extensions.broadworks.isEnterprise is false. Otherwise should be omitted</td></tr>
    </tbody>
</table></td></tr>
    </tbody>
</table></td></tr>
    </tbody>
</table>
<!--- JSON Schema for POST /customers{?mode} bodySchema:
{"title":"Request Properties","type":"object","additionalProperties":false,"required":["name"],"properties":{"name":{"type":"string","minLength":1,"maxLength":80,"description":"This property is used to construct the BroadWorks serviceProviderId and serviceProviderName"},"defaultDomain":{"type":"string","minLength":1,"maxLength":80,"pattern":"^[a-zA-Z0-9.-]+$","description":"Default domain. Will be added to BroadWorks if not already exists. By default, default system domain will be used"},"supportEmail":{"type":"string","minLength":1,"maxLength":80,"format":"email","description":"Must be a valid email address"},"contact":{"description":"Container for Contact information.<br>Details of the Contact properties:","type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":30,"description":"Contact Name"},"number":{"type":"string","minLength":1,"maxLength":30,"description":"Contact Phone Number"},"email":{"type":"string","minLength":1,"maxLength":80,"format":"email","description":"Contact E-mail address"}}},"address":{"type":"object","description":"Container for Address information.<br>Details of the Address properties:","properties":{"addressLine1":{"type":"string","minLength":1,"maxLength":80,"description":"Street address"},"addressLine2":{"type":"string","minLength":1,"maxLength":80,"description":"Street address"},"city":{"type":"string","minLength":1,"maxLength":50,"description":"City"},"stateOrProvince":{"type":"string","minLength":1,"maxLength":50,"description":"State or Province"},"zipOrPostalCode":{"type":"string","minLength":1,"maxLength":50,"description":"Zip or Postal Code"},"country":{"type":"string","minLength":1,"maxLength":50,"description":"Country"}}},"networkClassesOfService":{"type":"object","description":"<b>Not Implemented.</b><br>Container for Network Classes of Service specific properties","additionalProperties":false,"properties":{"default":{"type":"string","minLength":1,"maxLength":40,"description":"<b>Not Implemented.</b><br>Group's default Network Class of Service"}}},"extensions":{"type":"object","additionalProperties":false,"properties":{"broadworks":{"type":"object","additionalProperties":false,"description":"Container for BroadWorks-specific properties.<br>Details of the BroadWorks-specific properties:","properties":{"serviceProviderId":{"title":"The ID of the BroadWorks Service Provider/Enterprise","type":"string","minLength":1,"maxLength":30,"description":"If present in the request body, it overwrites the serviceProviderId value that was generated from the name parameter"},"isEnterprise":{"type":"boolean","default":true,"description":"Determines if service provider or enterprise will be created"},"hostingNe":{"title":"hostingNE of Broadworks Application Server","type":"string","minLength":1,"maxLength":40,"description":"BroadWorks cluster ID. Must match to one of hostingNe's specified in the Loki Server configuration. When omitted, default cluster is used"},"useCustomRoutingProfile":{"type":"boolean","description":"Required when extensions.broadworks.isEnterprise is false. Otherwise should be omitted"}}}}}}} -->

## Response Properties - 201 Created
<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>customerId</td><td>yes</td><td>n/a</td><td>Loki Server customerId (server-generated) of the Customer</td></tr>
    <tr><td>defaultDomain</td><td>no</td><td>n/a</td><td>Customer's default domain.<br>Presents in the response if not provided in the request</td></tr>
    <tr><td>extensions</td><td>no</td><td>n/a</td><td>Container for network-element specific properties<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>broadworks</td><td>yes</td><td>n/a</td><td>Container for BroadWorks-specific properties.<br>Details of the BroadWorks-specific properties:<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>serviceProviderId</td><td>yes</td><td>n/a</td><td>The ID of the BroadWorks Service Provider/Enterprise</td></tr>
    <tr><td>isEnterprise</td><td>no</td><td>n/a</td><td>Presents in the response if not provided in the request</td></tr>
    <tr><td>hostingNe</td><td>no</td><td>n/a</td><td>hostingNE of Broadworks Application Server.<br>Presents in the response if not provided in the request</td></tr>
    </tbody>
</table></td></tr>
    </tbody>
</table></td></tr>
    </tbody>
</table>
<!--- JSON Schema for POST /customers{?mode} Response 201:
{"title":"Response Properties - 201 Created","type":"object","required":["_links","curies","customerId"],"properties":{"_links":{"type":"object","required":["self"],"properties":{"self":{"type":"object","required":["href"],"properties":{"href":{"type":"string"}}}}},"curies":{"type":"array","items":{"type":"object","required":["name","href","templated"],"properties":{"name":{"type":"string"},"href":{"type":"string"},"templated":{"type":"boolean"}}}},"customerId":{"title":"Loki Server customerId (server-generated) of the Customer","type":"string","minLength":1,"maxLength":30},"defaultDomain":{"type":"string","minLength":1,"maxLength":80,"pattern":"^[a-zA-Z0-9.-]+$","title":"Customer's default domain","description":"Presents in the response if not provided in the request"},"extensions":{"type":"object","description":"Container for network-element specific properties","required":["broadworks"],"properties":{"broadworks":{"type":"object","description":"Container for BroadWorks-specific properties.<br>Details of the BroadWorks-specific properties:","required":["serviceProviderId"],"properties":{"serviceProviderId":{"title":"The ID of the BroadWorks Service Provider/Enterprise","type":"string","minLength":1,"maxLength":30},"isEnterprise":{"type":"boolean","description":"Presents in the response if not provided in the request"},"hostingNe":{"title":"hostingNE of Broadworks Application Server","type":"string","minLength":1,"maxLength":40,"description":"Presents in the response if not provided in the request"}}}}}}} -->

### Examples

#### Adding Enterprise
No additional parameters is required, enterprise type is used by default.

    {
        "name": "Example Com",
        "contact": {
            "email": "example@example.com"
        }
    }
#### Adding Service Provider
To add service provider, isEnterprise needs to be set to false. In this case useCustomRoutingProfile parameter is required.

    {
        "name": "Example Com",
        "contact": {
            "email": "example@example.com"
        },
        "extension": {
            "broadworks": {
                "isEnterprise": false,
                "useCustomRoutingProfile": false
            }
        }
    }
#### Specifying desired cluster
In multi-cluster BroadWorks configuration, entity will be added on the default cluster. To specify other cluster, hostingNe parameter needs to be included.

    {
        "name": "Example Com",
        "contact": {
            "email": "example@example.com"
        },
        "extension": {
            "broadworks": {
                "hostingNe": "REL20AS2"
            }
        }
    }

POST /customers{?mode}
> Content-Type: application/json
{
    "name": "Example Com",
    "contact": {
        "name": "Billy",
        "number": "Bishop",
        "email": "billy@example.com"
    },
    "address": {
        "addressLine1": "415 Sixth Ave",
        "addressLine2": "Suite 102",
        "city": "North Seventh",
        "stateOrProvince": "Alabama",
        "zipOrPostalCode": "50415",
        "country": "USA"
    }
}
< 201
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120
< Location: http://lokiserver.apiary.io/loki/customers/Example%20Com
{
    "_links": {
        "self": {
            "href": "http://lokiserver.apiary.io/loki/customers/Example%20Com"
        }
    },
    "curies": [
        {
            "name": "ls",
            "href": "http://lokiserver.apiary.io/loki/rels/{rel}",
            "templated": true
        }
    ],
    "customerId": "Example Com",
    "defaultDomain": "voip.example.net",
    "extensions": {
        "broadworks": {
            "serviceProviderId": "Example Com",
            "isEnterprise": true,
            "hostingNe": "REL17AS"
        }
    }
}

<!--- JSON Schema for POST /customers{?mode} response 201:
{"title":"Response Properties - 201 Created","type":"object","required":["_links","curies","customerId"],"properties":{"_links":{"type":"object","required":["self"],"properties":{"self":{"type":"object","required":["href"],"properties":{"href":{"type":"string"}}}}},"curies":{"type":"array","items":{"type":"object","required":["name","href","templated"],"properties":{"name":{"type":"string"},"href":{"type":"string"},"templated":{"type":"boolean"}}}},"customerId":{"title":"Loki Server customerId (server-generated) of the Customer","type":"string","minLength":1,"maxLength":30},"defaultDomain":{"type":"string","minLength":1,"maxLength":80,"pattern":"^[a-zA-Z0-9.-]+$","title":"Customer's default domain","description":"Presents in the response if not provided in the request"},"extensions":{"type":"object","description":"Container for network-element specific properties","required":["broadworks"],"properties":{"broadworks":{"type":"object","description":"Container for BroadWorks-specific properties.<br>Details of the BroadWorks-specific properties:","required":["serviceProviderId"],"properties":{"serviceProviderId":{"title":"The ID of the BroadWorks Service Provider/Enterprise","type":"string","minLength":1,"maxLength":30},"isEnterprise":{"type":"boolean","description":"Presents in the response if not provided in the request"},"hostingNe":{"title":"hostingNE of Broadworks Application Server","type":"string","minLength":1,"maxLength":40,"description":"Presents in the response if not provided in the request"}}}}}}} -->


<!--------------------------------- PUT /customers/{+customerId} ------------------------------->

Update Customer.<br/>
Process Name: Modify Customer (VoIP Entity)

## URI Template Parameters
<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>customerId</td><td>yes</td><td>n/a</td><td>Loki Server customerId (server-generated) of the Customer</td></tr>
    </tbody>
</table>
<!--- JSON Schema for PUT /customers/{+customerId} uriSchema:
{"title":"URI Template Parameters","required":["customerId"],"properties":{"customerId":{"title":"Loki Server customerId (server-generated) of the Customer","type":"string","minLength":1,"maxLength":30}}} -->

## Request Properties
<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>customerName</td><td>no</td><td>n/a</td><td>This property maps to serviceProviderName of the related BroadWorks service provider or enterprise entity</td></tr>
    <tr><td>defaultDomain</td><td>no</td><td>n/a</td><td>Domain must already be assigned to the Customer</td></tr>
    <tr><td>supportEmail</td><td>no</td><td>n/a</td><td></td></tr>
    <tr><td>contact</td><td>no</td><td>n/a</td><td>Container for Contact information.<br>Details of the Contact properties:<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>name</td><td>no</td><td>n/a</td><td>Contact Name</td></tr>
    <tr><td>number</td><td>no</td><td>n/a</td><td>Contact Phone Number</td></tr>
    <tr><td>email</td><td>no</td><td>n/a</td><td>Contact E-mail address</td></tr>
    </tbody>
</table></td></tr>
    <tr><td>address</td><td>no</td><td>n/a</td><td>Container for Address information.<br>Details of the Address properties:<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>addressLine1</td><td>no</td><td>n/a</td><td>Street address</td></tr>
    <tr><td>addressLine2</td><td>no</td><td>n/a</td><td>Street address</td></tr>
    <tr><td>city</td><td>no</td><td>n/a</td><td>City</td></tr>
    <tr><td>stateOrProvince</td><td>no</td><td>n/a</td><td>State or Province</td></tr>
    <tr><td>zipOrPostalCode</td><td>no</td><td>n/a</td><td>Zip or Postal Code</td></tr>
    <tr><td>country</td><td>no</td><td>n/a</td><td>Country</td></tr>
    </tbody>
</table></td></tr>
    <tr><td>useServiceProviderLanguages</td><td>no</td><td>n/a</td><td></td></tr>
    <tr><td>networkClassesOfService</td><td>no</td><td>n/a</td><td><b>Not Implemented.</b><br>Container for Network Classes of Service specific properties<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>default</td><td>no</td><td>n/a</td><td><b>Not Implemented.</b><br>Group's default Network Class of Service</td></tr>
    </tbody>
</table></td></tr>
    </tbody>
</table>
<!--- JSON Schema for PUT /customers/{+customerId} bodySchema:
{"title":"Request Properties","type":"object","additionalProperties":false,"required":[],"properties":{"customerName":{"type":"string","minLength":1,"maxLength":80,"description":"This property maps to serviceProviderName of the related BroadWorks service provider or enterprise entity"},"defaultDomain":{"type":"string","minLength":1,"maxLength":80,"pattern":"^[a-zA-Z0-9.-]+$","description":"Domain must already be assigned to the Customer"},"supportEmail":{"type":"string","minLength":1,"maxLength":80,"format":"email"},"contact":{"description":"Container for Contact information.<br>Details of the Contact properties:","type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":30,"description":"Contact Name"},"number":{"type":"string","minLength":1,"maxLength":30,"description":"Contact Phone Number"},"email":{"type":"string","minLength":1,"maxLength":80,"format":"email","description":"Contact E-mail address"}}},"address":{"type":"object","description":"Container for Address information.<br>Details of the Address properties:","properties":{"addressLine1":{"type":"string","minLength":1,"maxLength":80,"description":"Street address"},"addressLine2":{"type":"string","minLength":1,"maxLength":80,"description":"Street address"},"city":{"type":"string","minLength":1,"maxLength":50,"description":"City"},"stateOrProvince":{"type":"string","minLength":1,"maxLength":50,"description":"State or Province"},"zipOrPostalCode":{"type":"string","minLength":1,"maxLength":50,"description":"Zip or Postal Code"},"country":{"type":"string","minLength":1,"maxLength":50,"description":"Country"}}},"useServiceProviderLanguages":{"type":"boolean"},"networkClassesOfService":{"type":"object","description":"<b>Not Implemented.</b><br>Container for Network Classes of Service specific properties","additionalProperties":false,"properties":{"default":{"type":"string","minLength":1,"maxLength":40,"description":"<b>Not Implemented.</b><br>Group's default Network Class of Service"}}}}} -->


PUT /customers/{+customerId}
> Content-Type: application/json
{
    "customerName": "Example Net",
    "defaultDomain": "voip.example.net",
    "supportEmail": "support@example.net",
    "contact": {
        "name": "Billy",
        "number": "Bishop",
        "email": "billy@example.net"
    },
    "address": {
        "addressLine1": "415 Sixth Ave",
        "addressLine2": "Suite 102",
        "city": "North Seventh",
        "stateOrProvince": "Alabama",
        "zipOrPostalCode": "50415",
        "country": "USA"
    }
}
< 204
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120


<!--------------------------------- DELETE /customers/{+customerId} ------------------------------->

Delete Customer.<br/>
Process Name: Delete Customer (VoIP Entity)

## URI Template Parameters
<table border=1>
    <thead><th>Parameter</th><th>Required?</th><th>Default</th><th>Description</th></thead>
    <tbody>
    <tr><td>customerId</td><td>yes</td><td>n/a</td><td>Loki Server customerId (server-generated) of the Customer</td></tr>
    </tbody>
</table>
<!--- JSON Schema for DELETE /customers/{+customerId} uriSchema:
{"title":"URI Template Parameters","required":["customerId"],"properties":{"customerId":{"title":"Loki Server customerId (server-generated) of the Customer","type":"string","minLength":1,"maxLength":30}}} -->


DELETE /customers/{+customerId}
< 204
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120

--
Sites
##Collection

Supported network elements:

* BroadWorks Application Server

Keys:

* customerId
* siteId

Extension Keys:

* (none)
--

Retrieve the Site matching a specific BroadWorks serviceProviderId and groupId.
Can be used to resolve the Loki Server customerId/siteId of a Site when only the
BroadWorks IDs are known.

##URI Query Parameters

<table border=1>
    <thead>
    <th>Parameter</th>
    <th>Required?</th>
    <th>Default</th>
    <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>extensions.broadworks.serviceProviderId</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>n/a</td>
            <td>Corresponds to the serviceProviderId of the service provider (or enterprise) in BroadWorks.
            </td>
        </tr>
        <tr>
            <td>extensions.broadworks.groupId</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>n/a</td>
            <td>Corresponds to the groupId of the group in BroadWorks.
            </td>
        </tr>
    </tbody>
</table>
GET /sites{?extensions.broadworks.serviceProviderId,extensions.broadworks.groupId}
< 200
< Content-Type: application/hal+json
< Transaction-Id: 1380080943120
{
    "_links": {
        "self": {
            "href": "http://lokiserver.apiary.io/loki/customers/ExampleCom/sites/ExampleCom"
        }
    },
    "customerId": "ExampleCom",
    "siteId": "ExampleCom",
    "defaultDomain": "example.com",
    "userLimit": 25,
    "userCount": 2,
    "siteName": "ExampleCom",
    "callingLineIdName": "ExampleCom",
    "callingLineIdPhoneNumber": "+12025555003",
    "callingLineIdDisplayPhoneNumber": "2025555003",
    "timeZone": "US/Eastern",
    "locationDialingCode": "1",
    "contact": {
        "name": "bob jones",
        "number": "2028887777",
        "email": "bjones@jones.com"
    },
    "address": {
        "addressLine1": "415 Sixth Ave",
        "addressLine2": "Suite 102",
        "city": "North Seventh",
        "stateOrProvince": "Alabama",
        "zipOrPostalCode": "50415",
        "country": "USA"
    },
    "extensions": {
        "broadworks": {
            "serviceProviderId": "ExampleCom",
            "groupId": "ExampleCom"
        }
    },
    "curies": [
        {
            "name": "ls",
            "href": "http://lokiserver.apiary.io/loki/rels/{rel}",
            "templated": true
        }
    ]
}


Create a new Site.<br />
Process name: Create Site (VoIP Entity)<br />
Rollback-enabled: Yes.

## URI Template Parameters

<table border=1>
    <thead>
    <th>Parameter</th>
    <th>Required?</th>
    <th>Default</th>
    <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>customerId</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>n/a</td>
            <td>Loki Server customerId (server-generated) of the Customer in which the new Site is to be created.
            Note this can be resolved from the BroadWorks IDs via GET /loki/customers{?extensions.broadworks.serviceProviderId}.
            </td>
        </tr>
    </tbody>
</table>

##URI Query Parameters

<table border=1>
    <thead>
    <th>Parameter</th>
    <th>Required?</th>
    <th>Default</th>
    <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>mode</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>n/a</td>
            <td>Controls execution mode.<br />
            Allowed values: [ "prevalidate-only", "prevalidate-and-create", "create-only" ].<br />
            <b>NOTE: at this time only "create-only" (attempts to create the resource, with no pre-validation) is allowed.</b>
            </td>
       </tr>
    </tbody>
</table>

##Request Properties

Note: See the JSON Schema (**link TBD) for data types, format, length restrictions, etc.

<table border=1>
    <thead>
    <th>Property</th>
    <th>Required?</th>
    <th>Default</th>
    <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>siteName</td>
            <td style="text-align: center; font-weight:bold">yes</td>
            <td>n/a</td>
            <td>Suggested name for the new site. In the default configuration, this will be used as the group name for the underlying BroadWorks group.<br />
            The siteName property will also be used to generate the BroadWorks groupId by stripping invalid characters and truncating the result to maximum 30 characters.
            </td>
        </tr>
        <tr>
            <td>defaultDomain</td>
            <td style="text-align: center;">no</td>
            <td>n/a</td>
            <td>Default Domain of the BroadWorks group.<br />
            If not present in the request the Service Provider/Enterprise default domain will be assigned to the new group.
            </td>
        </tr>
        <tr>
            <td>userLimit</td>
            <td style="text-align: center;">yes</td>
            <td>n/a</td>
            <td>Maximum number of users in the BroadWorks group</td>
        </tr>
         <tr>
            <td>callingLineId</td>
            <td style="text-align: center;">no</td>
            <td>n/a</td>
            <td>
                Container for Calling Line ID information.<br />
                Details of the Calling Line ID properties:
                <table border=1>
                    <thead>
                    <th>Property</th>
                    <th>Required?</th>
                    <th>Default</th>
                    <th>Description</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>name</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>Calling Line ID Group Name.<br /> 
                            If not present in the request it will be generated from the siteName by removing disallowed characters.</td>
                        </tr>
                        <tr>
                            <td>phoneNumber</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>Calling Line ID Group Number.</td>
                        </tr>
                        <tr>
                            <td>tnRoutine</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>Calling Line ID Group Phone Number (TN) assignment routine.<br />
                            Supported values and impact on other required properties:
                            <table border=1>
                            <thead>
                                <th>tnRoutine</th>
                                <th>Description</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td><b>port-no-temp</b></td>
                                <td>TN does not exist in the system; will attempt to assign at both the Customer and Site levels.</td>
                            </tr>
                            <tr>
                                <td><b>auto</b></td>
                                <td>TN may or may not already exist in the system; will be assigned automatically to either/both as needed.</td>
                            </tr>
                            <tr>
                                <td><b>no-number</b></td>
                                <td>TN will not be assigned automatically.</td>
                            </tr>
                            <tr>
                                <td><b>""</b>(empty string)</td>
                                <td>TN will not be assigned automatically.</td>
                            </tr>
                            </tbody>
                            </table></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
         <tr>
            <td>timeZone</td>
            <td style="text-align: center;">no</td>
            <td>n/a</td>
            <td>Time Zone expressed as a Zone Name from the IANA Time Zone Database, e.g. "America/New_York".</td>
        </tr>
        <tr>
            <td>locationDialingCode</td>
            <td style="text-align: center;">no</td>
            <td>n/a</td>
            <td>Location Dialing Code.</td>
        </tr>
        <tr>
            <td>contact</td>
            <td style="text-align: center;">no</td>
            <td>n/a</td>
            <td>
                Container for Contact information.<br />
                Details of the Contact properties:
                <table border=1>
                    <thead>
                    <th>Property</th>
                    <th>Required?</th>
                    <th>Default</th>
                    <th>Description</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>name</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>Contact Name.</td>
                        </tr>
                        <tr>
                            <td>number</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>Contact Phone Number.</td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>Contact E-mail address</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>address</td>
            <td style="text-align: center;">no</td>
            <td>n/a</td>
            <td>
                Container for Address information.<br />
                Details of the Address properties:
                <table border=1>
                    <thead>
                    <th>Property</th>
                    <th>Required?</th>
                    <th>Default</th>
                    <th>Description</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>addressLine1</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>Street address.</td>
                        </tr>
                        <tr>
                            <td>addressLine2</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>Street address.</td>
                        </tr>
                        <tr>
                            <td>city</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>City</td>
                        </tr>
                        <tr>
                            <td>stateOrProvince</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>State or Province</td>
                        </tr>
                        <tr>
                            <td>zipOrPostalCode</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>Zip or Postal Code</td>
                        </tr>
                        <tr>
                            <td>country</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>Country</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>extensions</td>
            <td style="text-align: center;">no</td>
            <td>n/a</td>
            <td>Container for network-element specific properties</td>
        </tr>
        <tr>
            <td>extensions.broadworks</td>
            <td style="text-align: center;">no</td>
            <td>n/a</td>
            <td>
                Container for BroadWorks-specific properties.<br />
                Details of the BroadWorks-specific properties:
                <table border=1>
                    <thead>
                    <th>Property</th>
                    <th>Required?</th>
                    <th>Default</th>
                    <th>Description</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>groupId</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>The groupId for the new BroadWorks group.<br />
                            If present it overwrites the generated value from the siteName.
                            </td>
                        </tr>
                        <tr>
                            <td>templateGroupId</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>The groupId of a BroadWorks group that will be used as template.<br />
                            Must be the groupId of a group in the LokiHelper service provider defined in the configuration.<br />
                            <b>Note:</b> Documentation of how group templating works in LWS-REST is found in the Loki Provisioning Administrator’s Guide.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>extensionLength</td>
            <td style="text-align: center;">no</td>
            <td>n/a</td>
            <td>
                Container for Extension Dialing information.<br />
                Details of the Extension Dialing properties:
                <table border=1>
                    <thead>
                    <th>Property</th>
                    <th>Required?</th>
                    <th>Default</th>
                    <th>Description</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>min</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>Controls the minimum extension dialing policy of a Group.</td>
                        </tr>
                        <tr>
                            <td>max</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>Controls the maximum extension dialing policy of a Group.</td>
                        </tr>
                        <tr>
                            <td>default</td>
                            <td style="text-align: center;">no</td>
                            <td>n/a</td>
                            <td>Controls the default extension dialing policy of a Group.</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>services</td>
            <td style="text-align: center;">no</td>
            <td>n/a</td>
	        <td>The set of services to configure to the new BroadWorks group.<br />
	        Each service name must match a valid (configurable) group service in BroadWorks.<br />
	        <b>Note</b>: The Site Add request does not assign the services from the <code>services</code> section in the request
	        body; it only configures them.<br /> 
            To ensure the necessary group services are assigned to the BroadWorks group, be sure to select a BroadWorks
            template that has the desired services assigned.<br /> 
            If service configuration settings are included in the request, but the template group doesn't have the
            service(s) assigned (or the template is omitted in the request), the request will fail.<br />
            </td>
        </tr>
        <tr>
            <td>services.'Voice Portal'.*</td>
            <td style="text-align: center;">no</td>
            <td>n/a</td>
            <td>Configuration settings for the Voice Portal service. The table below describes the supported settings.
            <table border=1>
                <thead>
                    <th>Property</th>
                    <th>Required?</th>
                    <th>Default</th>
                    <th>Notes</th>
                </thead>
                <tbody>
                    <tr>
                        <td>isActive</td>
                        <td style="text-align: center;">no</td>
                        <td>n/a</td>
                        <td>On/Off</td>
                    </tr>
                    <tr>
                        <td>extension</td>
                        <td style="text-align: center;">no</td>
                        <td>n/a</td>
                        <td>Extension</td>
                    </tr>
                    <tr>
                        <td>phoneNumber</td>
                        <td style="text-align: center;">no</td>
                        <td>n/a</td>
                        <td>Phone Number</td>
                    </tr>
                    <tr>
                        <td>tnRoutine</td>
                        <td style="text-align: center;">no</td>
                        <td>n/a</td>
                        <td>Voice Portal Phone Number (TN) assignment routine.<br />
                        Supported values and impact on other required properties:
                        <table border=1>
                        <thead>
                            <th>tnRoutine</th>
                            <th>Description</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td><b>port-no-temp</b></td>
                            <td>TN does not exist in the system; will attempt to assign at both the Customer and Site levels.</td>
                        </tr>
                        <tr>
                            <td><b>auto</b></td>
[...]
